body {
  font-family: Arial, sans-serif;
  background: #f7f9fb;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.form {
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #c5c7c972;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.126);
  font-size: 14px;
  padding: 14px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.field label {
  font-weight: bold;
  margin-bottom: 2px;
  color: #243447;
}

.form input {
  padding: 6px 8px;
  border: 1px solid #c5c7c951;
  border-radius: 4px;
  font-size: 12px;
  background: #fff;
}

.form input:focus {
  outline: none;
  border-color: #646cff;
}

.form button {
  width: 40%;
  border: 1px solid #cfd6dc;
  border-radius: 4px;
  font-size: 14px;
  background: #646cff;
  color: white;
  cursor: pointer;
  transition: background .15s;
  text-align: center;
  display: flex;
  /* centre text */
  justify-content: center;
}

.form button:hover {
  background: #535bf2;
}

.form button:disabled {
  background: #d0d0e3;
  cursor: not-allowed;
}